body {
    background-color: #000000;
    font-family: Arial, sans-serif;
}
h1 {
    color: #ffffff;
    text-align: center;
}
.table01 {
    border: 2px solid #ffffff;
    width: 100%;
    height: auto;
    border-collapse: collapse;
    background-color: #494949;
    color: #ffffff;
}
td {
    border: 1px solid #ffffff;
    padding: 8px;
    text-align: center;
}
